

h1 {
  font-size: 4rem;
  color: var(--lightest-grey);
}

img {
  height: 300px;
}

h2 {
  color: var(--green);
}

h4 {
    color: var(--light-grey);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

p {
  font-size: 1.2rem;
}

.media-links h4 a :hover {
  cursor: pointer;
}

.media-links h4 a img {
  height: 25px;
}

.rotate:hover
{
      -webkit-transform: rotateZ(7deg);
      -ms-transform: rotateZ(7deg);
      transform: rotateZ(7deg);
}

footer {
  display: flex;
}