form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 40px;
}

.auth-forms {
    display: flex;

}

input {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    font-size: 1rem;
}

button {
    height: 40px;
    border: none;
    background-color: var(--almost-black);
    color: var(--green);
    font-size: 1.2rem;
    font-weight: bold;
}

button:hover {
    color: var(--lightest-grey);
    cursor: pointer;
}