.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}